body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.controls {
    padding: 20px;
    width: 600px;
    border-right: 1px solid #ddd;
    background-color: #f8f9fa;
}

.controls textarea {
    width: 100%;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    resize: none;
    font-size: 10px;
}

.controls button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056b3;
}

.pdf-viewer {
    width: 600px;
    height: 1000px;
    border: none;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

#qrCodeListInput {
    height: 500px;
}

.explanation {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    font-family: 'Courier New', Courier, monospace;
}

.button-container {
    margin-bottom: 20px;
}

.button-container button {
    margin-right: 10px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}


.clickable-textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.clickable-textarea:hover {
    border-color: #66afe9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1200px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: #ca0a0a;
    border-radius: 50%;
    width: 55px;
    height: 50px;
    text-align: center;
    padding-bottom: 5px;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
}

#modalTextarea {
    width: 100%;
    height: 600px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
}

#modalTextarea:focus {
    border-color: #66afe9;
    outline: none;
}

#fontSize {
    width: 200px;
}

#fontSizeValue {
    margin-left: 10px;
    font-weight: bold;
}